<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764830183290-ea64g4odct8g90dkbul6caj7f3ochn0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764830183290-ea64g4odct8g90dkbul6caj7f3ochn0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDBQOToLTXym3C-dy9Ova0QtVjzF4ZxZCw</string>
	<key>GCM_SENDER_ID</key>
	<string>764830183290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kwk.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>final-project-d2fb5</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-d2fb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764830183290:ios:c8bf60ac7d5dd0a6d9b0c3</string>
</dict>
</plist>